<!-- Usando Jumbotrom para destaque -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <p>{{subtitle}}</p>
    </div>
</div>
<div class="container" id="resultado">
    <!-- Colunas de valores -->
    <div class="row">
        {{#each colunas as |Coluna| }}
        <div class="col-md-3">
            <h2>{{ Coluna.titulo }}</h2>
            {{#each Coluna.valores as |valor| }}
                <p>{{valor}}</p>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>